*{
box-sizing: border-box;
direction: rtl;
}

.table tr {
    cursor: pointer;

}
.hiddenRow {
    padding: 0 4px !important;
    background-color: #F5F7FA ;
    font-size: 13px;
}

* {
    box-sizing: border-box;
    direction: rtl;
}

body {
    color: #404E67;
    background: #F5F7FA;
}

.table-wrapper {
    width: 100%;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border:rgb(74, 146, 206) solid 3px;
    border-radius: 20px;
    /* box-shadow: 2px 4px rgb(77, 77, 77),2px 3px rgb(80, 80, 80), 2px 6px rgb(117, 117, 117),2px 10px rgb(150, 150, 150),2px 12px rgb(206, 205, 205); */
    box-shadow: -7px 5px 17px -5px rgba(74,74,74,0.81);
    webkit-box-shadow: -7px 5px 17px -5px rgba(74,74,74,0.81);
    -moz-box-shadow: -7px 5px 17px -5px rgba(74,74,74,0.81);
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
    border: 1px solid rgb(55, 195, 219);
    border-radius: 10px;
}

.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}

.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}

.table-title .add-new i {
    margin-right: 4px;
}

table.table {
    table-layout: fixed;
    border: none;
    
}

table.table tr th,
table.table tr td {
    border: none;

}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table th:last-child {
    width: 100px;
}

table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}

table.table td a.add {
    color: #27C46B;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #E34724;
}

table.table td i {
    font-size: 19px;
}

table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}

table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}

table.table .form-control.error {
    border-color: #f50000;
}

table.table td .add {
    display: none;
}

i {
    margin: 5px;
}
pre{
    font-size: 18px;
    text-align: center;
}
button{
    padding: 5px;
    margin: 10px;
    width: 100px;
    justify-content: end;
    
}
table table{
    margin: auto;
}
table table tr{
    border-bottom: 1px solid rgb(214, 211, 211);
}
thead{
    background-color: rgba(223, 221, 221, 0.452);
}

.container-fluid{
    min-width: 1000px;
    max-width: 1100%;
}
.table-responsive{
    overflow-x: visible
}